body {
    background-color: lightgrey;
}
h1 {
    text-align:center;
    border-style:solid;
    box-shadow: 10px 10px 8px #888888;
    background-color: white;
}
ul {
    font-size:x-large;
    border-style:dotted;
    column-count: 2;
    line-height: 1.5;
}
p {
    background-color: darkgreen;
}